* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  border-bottom: 1px #d3d6da solid;
  padding-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 36px;
}

.board {
  width: 320px;
  height: 384px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 0.5rem;
}

.letter {
  width: 56px;
  height: 56px;
  border: 2px #d3d6da solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  font-weight: bold;
}

.wrong {
  background-color: #787c7e;
  color: white;
}

.almost {
  background-color: #c9b458;
  color: white;
}

.correct {
  background-color: #6aaa64;
  color: white;
}

.hide {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s infinite linear;
}

.status, .loading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  height: 36px;
}

.win {
  font-weight: bold;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes jump {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -20px, 0);
  }
}

.winner {
  animation: jump 0.5s ease forwards;
}

.invalid {
  animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}