* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

h1 {
  margin: 0;
  margin-bottom: 16px;
  padding: 12px;
  text-align: center;
  border-bottom: 1px #d3d6da solid;
  padding-bottom: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 36px;
}

.board {
  width: 320px;
  height: 384px;
  margin: 0 auto;
}

#keyboard {
  margin: 12px auto;
  touch-action: manipulation;
}

.keyrow {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  margin: 8px 0;
  justify-content: center;
}

/* could do .keyrow button, but this is more specific than .correct, so overwrites background-color */
button {
  flex-basis: 42px;
  background-color: #d3d6da;
  color: #000000;
  padding: 12px 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

#enter,
#delete {
  font-size: 0.75rem;
  padding: 12px 10px;
  flex-basis: 67px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  margin-bottom: 0.5rem;
}

.letter {
  width: 56px;
  height: 56px;
  border: 2px #d3d6da solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  font-weight: bold;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}

.occupied {
  border-color: #878a8c;
  animation: pop 0.07s ease;
}

.wrong {
  background-color: #787c7e;
  color: white;
  border: none;
}

.almost {
  background-color: #c9b458;
  color: white;
  border: none;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border: none;
}

.hide {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s infinite linear;
}

.status,
.loading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  height: 36px;
}

.win {
  font-weight: bold;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -20px, 0);
  }
}

.winner {
  animation: jump 0.5s ease forwards;
}

.invalid {
  animation: shake 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #535555;
    color: #f8f8f8;
  }
  .wrong {
    background-color: #2d2d2f;
  }
  .almost {
    background-color: #b59f3b;
  }
  .correct {
    background-color: #538d4e;
  }
  .letter {
    border-color: #3a3a3c;
  }
  .occupied {
    border-color: #565758;
  }
}

@media (hover: none) {
  #keyboard {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  body {
    height: 100%;
  }
  h1 {
    margin: 1rem 0;
  }
  .status,
  .loading {
    margin: 3rem 0;
  }
  .body {
    margin: 3rem 0;
  }
}
